@tailwind base;
@tailwind components;
@tailwind utilities;


.my-text-color {
    color: #793FDF;
}

.my-bg-color {
    background-color: #793FDF;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans';
}

.snaps-inline::-webkit-scrollbar {
    height: 2px;
}

::-webkit-scrollbar {
    height: 5px;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #793FDF;
}


.open-font {
    font-family: 'Open Sans';
}

.my-font-gradient {
    background: linear-gradient(90deg, #00dbde, #fc00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.media-scroller {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    width: 100%;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 9rem;
}